{% extends "main/header.html" %}


{% block content %}
<a href="create_board" class="btn-floating pulse btn-large waves-effect waves-light black"><i class="material-icons">+</i></a>
<div class="row">


    <div class="col s9">
        {% for b in boards %}
        <div class="col s12 m6 ">
            <a href="{{b.board_id}}", style="color:#000">
                <div class="card hoverable">
                    <div class="cart-content">
                        <div class="card-title">{{b.name}}</div>
                        <div id="{{b.board_id}}" style="height: 400px">
                            {% load static %}
                            <script type="text/javascript" src="{% static 'main/scripts/board_thumbnail.js' %}" ></script>
                            <script>
                                obstacles = {{b.obstacles_json|safe}}
                                draw_board({{b.columns}},"{{b.board_id}}",obstacles, {{b.lidar_x}}, {{b.lidar_y}})
                            </script>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}

